*{
  margin: 0;
  padding: 0;
  font-family: "Arial", "Helvetica", sans-serif;
  box-sizing: border-box;
}

header {
  height: 180px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #272626;
  color: white;
}

.logo-section {
  display: block;
  align-items: center;
  margin-left: 70px;
}

.logo-section img {
  width: 300px;
  cursor: pointer;
}

.logo-section h1 {
  font-weight: 100;
  font-size: 22px;
  color: rgb(238, 186, 52);
  cursor: pointer;
  font-family: "Georgia", serif;
}

.contact-section {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.contact-section .phone-number {
  display: flex;
  align-items: center;
  margin-right: 90px;
  font-family: "Arial", "Helvetica", sans-serif;
}

.contact-section .phone-number span {
  font-size: 25px;
  color: goldenrod;
  text-shadow:1px 1px 1px black;
}

.contact-section i {
  margin-top: 5px;
  margin-right: 10px;
  color: goldenrod;
  font-size: 25px;
}

#estimate-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 90px;
  width: 190px;
  height: 45px;
  background: #c4b454;
  border: none;
  color: #424242;
  cursor: pointer;
  text-transform: uppercase;
}

#estimate-button i {
  margin-bottom: 10px;
  width: 20px;
  height: 20px;
  color: #424242;
}

/* NAVBAR */

#menu {
  width: 100%;
  display: flex;
  align-self: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

#menu ul {
  margin: 0;
  padding: 0;
}

#menu .main-menu {
  display: none;
}

#tm:checked + .main-menu {
  display: block;
}

#menu input[type="checkbox"], 
#menu ul span.drop-icon {
  display: none;
}

#menu li {
  border-width: 0 0 1px;
}

#menu .sub-menu {
  background-color: #272626;
  border-width: 1px 1px 0;
  margin: 0 1em;
}

#menu .sub-menu li:last-child {
  border-width: 0;
}

#menu li, 
#toggle-menu, 
#menu a {
  padding: 10px;
  text-decoration: none;
  position: relative;
  display: block;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .125);
}

#menu {
  background-color: #272626;
}

#toggle-menu, 
#menu a {
  padding: 1em 1.5em;
}

#menu li:hover {
  border-top: .5px solid goldenrod;
} 

#menu a {
  transition: all .125s ease-in-out;
  -webkit-transition: all .125s ease-in-out;
}

#menu a:hover {
  color: goldenrod;
}

#menu .sub-menu {
  display: none;
}

#menu input[type="checkbox"]:checked + .sub-menu {
  display: block;
}

#menu .sub-menu a:hover {
  color: goldenrod;
}

.drop-icon, 
#menu li label.drop-icon {
  position: absolute;
  right: 1.5em;
  top: 1.25em;
}

#menu label.drop-icon, span.drop-icon {
  border-radius: 50%;
  width: 1em;
  height: 1em;
  text-align: center;
  background-color: rgba(0, 0, 0, .125);
  text-shadow: 0 0 0 transparent;
  color: rgba(255, 255, 255, .75);
}

#menu .drop-icon {
  line-height: 1;
}




@media only screen and (max-width: 3000px) and (min-width: 878px) {
  #menu .sub-menu li {
    width: auto;
  }

  .header-nav-container:hover #menu {
    opacity: 1;
    visibility: visible;
  }

  #menu .main-menu {
    display: block;
  }

  #toggle-menu, 
  #menu label.drop-icon {
    display: none;
  }

  #menu ul span.drop-icon {
    display: inline-block;
  }

  #menu li {
    float: left;
    border-width: 0 1px 0 0;
  }

  #menu .sub-menu {
    border-width: 0;
    margin: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 12em;
    z-index: 3000;
  }

  #menu li:hover > .sub-menu {
    display: block; /* This will show the submenu on hover */
  }

  #menu .sub-menu, 
  #menu input[type="checkbox"]:checked + .sub-menu {
    display: none;
  }

  #menu .sub-menu li {
    border-width: 0 0 1px;
  }

  #menu .sub-menu .sub-menu {
    top: 0;
    left: 100%;
  }
}

@media only screen and (max-width: 877px) and (min-width: 360px) {
  #menu {
    opacity: 1;
    visibility: visible;
    position: absolute;
    width: 40%;
    right: 0;
  }
  
  #toggle-menu {
    display: inline-block; 
    background: transparent;
    position: absolute;
    right: 0;
    top: 0;
  }

  .close-icon {
    display: none;
  }

  .hamburger-icon {
    display: block;
  }

  #tm:checked ~ .icon-container .hamburger-icon {
    display: none !important;
  }

  #tm:checked ~ .icon-container .close-icon {
    display: block !important;
  }

  #menu .main-menu {
    display: none;
  }

  #cell-number, 
  #estimate-button {
    display: none;
  }
}

@media only screen and (max-width: 412px) {
  .contact-section {
      display: none;
  }

  .logo-section {
    margin: auto;
  }
}

