<footer class="footer-section">
  <div class="footer-container">
    <div class="footer-column1">
      <img src="/Images/WCSlogotransparent1136px-300x120.png" alt="Logo" />
     <ul class="footer-options">
        <li>Home</li>
        <li>About</li>
        <li>Services</li>
        <li>Projects</li>
        <li>Investor</li>
        <li>Contact</li>
      </ul>
     </div> 
    
    <div class="footer-column2">
      
      <img src="/Images/OfficeLocation.png" alt="Image 2" />

      <p class="footer-address">
        <span
          ><i class="fas fa-map-marker-alt"></i>5718 Westheimer Rd Ste 1000,
          Houston, TX 77057</span
        >
      </p>
      
      <div class="footer-social">
        <i class="fab fa-instagram"></i>
        <i class="fab fa-facebook"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-linkedin"></i>
      </div>
    </div>
    <div class="footer-column3">
      <img src="/Images/NotariePublic.png" alt="Image 3" />
      <p class="footer-info">
        <span><i class="fas fa-headset"></i> 24/7 Customer Support</span>
        <span
          ><i class="fas fa-clock"></i> Office Hours: Mon - Fri: 7:30 am - 5
          pm Sat, Sun: Closed</span
        >
        <span><i class="fas fa-envelope"></i> info@wcsllctx.com</span>
      </p>
    </div>
  </div>
  <p class="footer-disclaimer">
    ADA Policy – Customer Service – Privacy Policy – Terms of Service We’re
    protected by reCAPTCHA, Google’s Privacy Policy and Terms of Service
    apply. <br />
    Copyright © 2007-2025 Williams Construction Services, LLC. All Rights
    Reserved.
  </p>
</footer>