* {
  margin: 0;
  padding: 0;
  font-family: "Arial", "Helvetica", sans-serif;
  box-sizing: border-box;
}

.text-wrapper {
  display: inline-block;
  text-align: left;
}

.footer-section {
  background-color: #333;
  color: #fff;
  padding: 40px 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 80px;
  align-items: flex-start; /* Align items to the top */
  max-width: 1200px;
  margin: 0 auto;
}

.footer-column1,
.footer-column2,
.footer-column3 {
  flex: 1;
  padding: 0 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Start items at the top */
}

.footer-column1 {
  justify-content: center;
  text-align: center;
  margin: auto;  /* Center items vertically */
}

.footer-column1 img {
  margin-bottom: 20px;
}

.footer-column1 ul.footer-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-column1 ul.footer-options li {
  flex-basis: 50%;
  text-align: left;
}

.footer-options {
  list-style: none;
  padding: 0;
  margin-left: 10;
}

.footer-options li {
  margin-bottom: 5px;
  text-align: left;
}

.footer-social {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
